<form novalidate [formGroup]="form" (ngSubmit)="signup()">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" class="form-control" formControlName="username"/>
    <div *ngIf="form.controls.username.pending">
      Checking for uniqueness...
    </div>
    <div *ngIf="form.controls.username.touched && form.controls.username.errors">
      <div *ngIf="form.controls.username.errors.invalidLogin" class="alert alert-danger">
        Username or password invalid
      </div>
      <div class="alert alert-danger" *ngIf="form.controls.username.errors.required">
        Username is required.
      </div>
      <div class="alert alert-danger" *ngIf="form.controls.username.errors.cannotContainSpace">
        Username cannot contain space.
      </div>
      <div class="alert alert-danger" *ngIf="form.controls.username.errors.shouldBeUnique">
        This username is already taken.
      </div>
    </div>

  </div>
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" class="form-control" formControlName="password"/>
    <div *ngIf="form.controls.password.touched && form.controls.password.errors">
      <div class="alert alert-danger" *ngIf="form.controls.password.errors.required">
        Password is required.
      </div>
    </div>
  </div>
  <br/>
  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Sign Up</button>
</form>
{{ form.value | json }}
